<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 7 (Final Portfolio)  -->
<!-- Date: June 5, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe Customers</title>

<!--  Form for SQL INSERT query for the Customers Entity (add a new customer) -->
<h1>Add a new customer:</h1>
<section>
    <form method="post">
        <div class="form-group row">
            <div class="col">
                <label class="col">Enter First Name:
                    <input type="text" class="form-control" name="customerFirstName" maxlength="255" required />
                </label>
            </div>
            <div class="col">
                <label class="col">Enter Last Name:
                    <input type="text" class="form-control" name="customerLastName" maxlength="255" required />
                </label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label class="col">Enter Planet:
                    <input type="text" class="form-control" name="customerPlanet" maxlength="255" required />
                </label>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Customer" name="addCustomer" />
    </form>
</section>

<br />


<h1>Current Customers:</h1>
<!-- Form that will make a request for a SQL SELECT query based on whether the user searches
     for a customer by their first and/or last name, or if they filter the customers based on
     a drop down selection box based on the current planets in the database.  -->
<form method="GET">
    <h3>Filter Search Results</h3>
    <div class="form-group row">
        <label class="col">First Name
            <input type="text" class="form-control" name="filterFirstName" placeholder="First Name">
        </label>
        <label class="col">Last name
            <input type="text" class="form-control" name="filterLastName" placeholder="Last Name">
        </label>
        <label class="col">Or Filter By Planet
            <select class="col form-control" name="filterPlanet">
                <option></option>
                {{#each planets}}
                <option>{{ this.customerPlanet }}</option>
                {{/each}}
            </select>
        </label>
    </div>
    <input type="submit" class="btn btn-primary mb-2" value="Submit" />
</form>
<!-- Table that will display the results from a SQL SELECT query for the Customers Entity.
     It will load all customers by default and then customers based on the searching/filtering
     that the user requests.  -->
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Planet</th>
            </tr>
        </thead>
        <tbody>
            {{#each customers}}
            <tr>
                <td>{{ this.customerID }}</td>
                <td>{{ this.customerFirstName }}</td>
                <td>{{ this.customerLastName }}</td>
                <td>{{ this.customerPlanet }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>