<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 6 Draft -->
<!-- Date: May 31, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe Customers</title>

<!-- SQL INSERT query for the Customers Entity-->
<h1>Add a new customer:</h1>
<section>
    <form method="post">
        <div class="form-group">
            <label>Enter First Name:
                <input type="text" class="form-control" name="customerFirstName" size="40" maxlength="255" required/>
            </label>
            <label>Enter Last Name:
                <input type="text" class="form-control" name="customerLastName" size="40" maxlength="255" required/>
            </label>
            <label>Enter Planet:
                <input type="text" class="form-control" name="customerPlanet" size="40" maxlength="255" required/>
            </label>
            <input type="submit" class="btn btn-primary" value="Add Customer" name="addCustomer" />
    </form>
</section>

<br />

<!-- SQL SELECT query for the Customers Entity displayed in a table -->
<h1>Current Customers:</h1>

<form>
    <div class="form-group row">
        <div class="col">
            <label>View Selected Customers
                <input type="text" class="form-control" placeholder="Search for names..">
            </label>
            <label>Or Filter By Planet
                <select class="custom-select">
                    {{#each planets}}
                    <option>{{ this.customerPlanet }}</option>
                    {{/each}}
                </select>
            </label>
        </div>
    </div>
</form>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Planet</th>
            </tr>
        </thead>
        <tbody>
            {{#each customers}}
            <tr>
                <td>{{ this.customerID }}</td>
                <td>{{ this.customerFirstName }}</td>
                <td>{{ this.customerLastName }}</td>
                <td>{{ this.customerPlanet }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>


