<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 7 (Final Portfolio)  -->
<!-- Date: June 5, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Items</title>


<h1>Edit An Item</h1>
<br>

<!-- Form for SQL UPDATE query for the Items Entity (updating the current item selected)
     This form will display the current information of the item and allow the user to pick 
     what entries they'd like to update -->
<form method="post">
    {{#item}}
    <fieldset>
        <div class="form-group row">
            <label class="col">Edit item description:
                <input class="form-control" type="text" name="itemType" value="{{ itemType }}">
            </label>
            <label class="col">Edit supplier:
                <select class="form-control" name="s_id">
                    {{#if supplierID}}
                        <option value="NULL">NULL</option>
                        <option value = "{{supplierID}}" selected>{{ supplierID }}, {{ supplierName }}</option>
                    {{else}}
                        <option value="NULL">NULL</option>
                    {{/if}}                    
                    {{#each ../suppliers}}
                        {{#if sid}}
                            <option value="{{ sid }}">{{ sid }}, {{ sname }}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </label>
        </div>
        <div class="form-group row">
            <label class="col">Edit Ye Olde Price:
                <input required class="form-control" type="number" inputmode="numeric" step="0.01" min=0 max=999999.99 
                    name="price" value={{ YeOldePrice }}>
            </label>
            <label class="col">Edit quantity:
                <input class="form-control" type="number" name="quantity" min="0" value={{ currentQuantity }}
                    required>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Update Item" name="updateItem">
        <a href="/items"><input type="button" class="btn btn-danger" value="Cancel"></a>
    </fieldset>
    {{/item}}
</form>