<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 7 (Final Portfolio)  -->
<!-- Date: June 5, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Items</title>

<!-- Form for SQL INSERT query for the Items Entity (add a new item) -->
<h1>Add an item:</h1>
<section>
    <form method="post">
        <div class="form-group row">
            <label class="col">Enter item description:
                <input class="form-control" type="text" name="item" required>
            </label>
            <label class="col">Select supplier: (optional)
                <select class="form-control" name="s_id">
                    <option value="NULL" SELECTED>NULL</option>
                    {{#each suppliers}}
                    {{#if this.supplierID}}
                    <option value="{{this.supplierID}}">
                        {{ this.supplierID }}, {{ this.supplierName }}
                    </option>
                    {{/if}}
                    {{/each}}
                </select>
            </label>
        </div>
        <div class="form-group row">
            <label class="col">Enter Ye Olde Price:
                <input class="form-control" type="number" step="0.01" min=0 max=999999.99 name="price" required>
            </label>
            <label class="col">Enter number in stock:
                <input class="form-control" type="number" name="quantity" min="0" required>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Item" name="addItem">
    </form>
</section>

<br>

<!-- Table that will display the results from a SQL SELECT query for the Items Entity.
     (itemID, item description, supplier name & id, ye olde price, and quantity ) are 
     gotten through a join with the Suppliers Entity.
     SQL DELETE CRUD functionality will delete an item from the Items Entity.  
     The edit button will send the user to the editItem page that will perform an SQL
     UPDATE (or bring the user back to Items if they cancel). -->
<h1>Current Items:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Item ID</th>
                <th>Item Description</th>
                <th>Supplier Name (ID)</th>
                <th>Ye Olde Price</th>
                <th>Number In Stock</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td>{{ this.itemID }}</td>
                <td>{{ this.itemType }}</td>
                <td>
                    {{#if this.supplierID}}
                    {{ this.supplierName }} ({{ this.supplierID }})
                    {{else}}NULL
                    {{/if}}
                </td>
                <td>{{ this.YeOldePrice }}</td>
                <td>{{ this.currentQuantity }}</td>
                <td><a href="/items/{{this.itemID}}"><button class="btn btn-info">Edit</button></a></td>
                <td><a href="/items/delete/{{this.itemID}}"><button class="btn btn-info">Delete</button></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>