<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 7 (Final Portfolio)  -->
<!-- Date: June 5, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Orders</title>

<!-- Form for SQL INSERT query for the Orders Entity & M:M relationship for Orders and Items
     (add a new order and add a new item to an order) -->
<h1>Add an order:</h1>
<section>
    <form method="post">
        <div class="form-group row">
            <label class="col">Select customer:
                <select class="form-control col" name="customerID">
                    {{#each customers}}
                    <option value="{{this.customerID}}">
                        {{ this.customerID }}, {{ this.customerFirstName }} {{ this.customerLastName }}
                    </option>
                    {{/each}}
                </select>
            </label>
            <label class="col"> Select item:
                <select class="form-control col" name="itemID">
                    {{#each items}}
                    <option value="{{this.itemID}}">
                        {{ this.itemID }}, {{ this.itemType }}
                    </option>
                    {{/each}}
                </select>
            </label>
        </div>
        <div class="form-group row">
            <label class="col">Did they use galacticPay?
                <select class="form-control col" name="galacticPay">
                    <option value="0" SELECTED>No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
            <label class="col">Has the order beamed?
                <select class="form-control col" name="orderBeamed">
                    <option value="0" SELECTED>No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
        </div>
        <div class="form-group row">
            <label class="col"> Quantity:
                <input class="form-control" type="number" name="quantity" min="1" value="1" required>
            </label>
            <label class="col">Enter orderDate:
                <input type="date" class="form-control" type="date" name="orderDate" required>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Order" name="addOrder">
    </form>
</section>

<br>
<br>

<!-- Form for SQL INSERT query for adding an item to an order (M:M relationship) -->
<h1>Add an item to an existing order:</h1>
<section>
    <form method="post">
        <div class="form-group row">
            <label class="col">Enter orderID:
                <select class="form-control" name="orderID">
                    {{#each oIDs}}
                    <option value="{{this.orderID}}">
                        {{ this.orderID }}
                    </option>
                    {{/each}}
                </select>
            </label>
            <label class="col">Enter itemID:
                <select class="form-control" name="itemID">
                    {{#each items}}
                    <option value="{{this.itemID}}">
                        {{ this.itemID }}, {{ this.itemType }}
                    </option>
                    {{/each}}
                </select>
            </label>
            <label class="col">Enter quantity:
                <input class="form-control" type="number" name="quantity" min="1" required>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Item to Order" name="addItemToOrder">
    </form>
</section>

<br>
<br>

Note: If an item already exists in an order, the quantity will be updated with the additional user entered quantity.

<br>
<br>


<h1>Current Orders and Items Ordered:</h1>
<h3>Important note about the table below:</h3>
<section>
    The table is a combination of the Orders Entity and the OrderItem intersection table.  Here, the delete
    button will correspond to removing an entry from the M:M relationship table (i.e. removing an item from an
    order).   Therefore, it is possible for Item/Quantity to be NULL in the table. 
    
    <br>

    While every order must have an item, it is possible to break this requirement.  When an item is deleted from 
    the Items page, the DELETE will cascade to the M:M relationship table OrderItem.  If the order contains more 
    than 1 item, then the row corresponding to order number and item number (of the removed item) is deleted and 
    the other entries for that order will be displayed in the table. However, if the order only contains one 
    item and that item is deleted, then the OrderItem entry is deleted, but the Order will still appear as the 
    Order itself is not deleted when an item is deleted.  
    
    <br>
    When this happens, the default behavior is for item description and quantity to be set NULL. 
    Similarly, from this page, if an order only has one item, and the user selects the delete button corresponding
    to that particular order, then the M:M relationship in the OrderItem table is deleted, but the order will 
    still be shown in the table below.  As such, the delete option will not be available to entries where the 
    item description is NULL since the delete functionality is to delete an item from an order without deleting 
    the Order itself.
</section>
<br>
<!-- Table that will display the results from a SQL SELECT query for Orders Entity and OrderItem intersection table 
     (orderID, customer name (id), date of order, item name, quanity, galaticPay, order beamed) are gotten
     through a join with Orders, Customers, and Items Entity and the OrderItem intersection table.
     SQL DELETE CRUD functionality will delete an entry in the M:M relationship (OrderItem intersection table). -->
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Order ID</th>
                <th>Customer Name (ID)</th>
                <th>Date of Order</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>galacticPay?</th>
                <th>Order Beamed?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <!-- Keeping the item ID hidden, will be used for delete -->
                <td id="itemID" style="display:none">{{ this.itemID }}</td>
                <td id="orderID">{{ this.orderID }}</td>
                <td>{{ this.customerFirstName }} {{this.customerLastName}} ({{ this.customerID }})</td>
                <td>{{moment this.orderDate format="YYYY-MM-DD" }}</td>
                <td>{{#if this.itemType}}
                    {{ this.itemType }}
                    {{else}} NULL
                    {{/if}}
                </td>
                <td>{{#if this.quantity }}
                    {{ this.quantity }}
                    {{else}} NULL
                    {{/if}}
                </td>
                <td>{{#if this.galacticPay}}
                    Yes
                    {{else}}No
                    {{/if}}
                </td>
                <td>{{#if this.orderBeamed}}
                    Yes
                    {{else}}No
                    {{/if}}
                </td>
                <td>{{#if this.itemID}}
                    <a href = '/orders/delete/{{this.orderID}}/{{this.itemID}}/'>
                    <button class="btn btn-info" name="deleteOrderItem">Delete Item</button></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>