<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 6 Draft -->
<!-- Date: May 31, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Orders</title>

<!-- SQL INSERT query for the Orders Entity & M:M relationship for Orders and Items -->
<h1>Add an order:</h1>
<section>
    <form method="post">
        <div class="form-group row">
            <label class="col">Select customer:
                <select class="form-control col" name="customerID">
                    {{#each customers}}
                    <option value="{{this.customerID}}">
                        {{ this.customerID }}, {{ this.customerFirstName }} {{ this.customerLastName }}
                    </option>
                    {{/each}}
                </select>
            </label>
            <label class="col"> Select item:
                <select class="form-control col" name="itemID">
                    {{#each items}}
                    <option value="{{this.itemID}}">
                        {{ this.itemID }}, {{ this.itemType }}
                    </option>
                    {{/each}}
                </select>
            </label>
        </div>
        <div class="form-group row">
            <label class="col">Did they use galaticPay?
                <select class="form-control col" name="galaticPay">
                    <option value="0" SELECTED>No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
            <label class="col">Has the order beamed?
                <select class="form-control col" name="orderBeamed">
                    <option value="0" SELECTED>No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
        </div>
        <div class="form-group row">
            <label class="col"> Quantity:
                <input class="form-control" type="number" name="quantity" size="40" min="1" value="1" required>
            </label>
            <label class="col">Enter orderDate:
                <input type="date" class="form-control" type="date" name="orderDate" size="60" required>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Order" name="addOrder">
    </form>
</section>

<br>

<!-- SQL INSERT query for adding an item to an order -->
<h1>Add an item to an existing order:</h1>
<section>
    <form method="post">
        <div class="form-group row">
            <label class="col">Enter orderID:
                <select class="form-control" name="orderID">
                    {{#each oIDs}}
                    <option value="{{this.orderID}}">
                        {{ this.orderID }}
                    </option>
                    {{/each}}
                </select>
            </label>
            <label class="col">Enter itemID:
                <select class="form-control" name="itemID">
                    {{#each items}}
                    <option value="{{this.itemID}}">
                        {{ this.itemID }}, {{ this.itemType }}
                    </option>
                    {{/each}}
                </select>
            </label>
            <label class="col">Enter quantity:
                <input class="form-control" type="number" name="quantity" size="40" min="1" required>
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Item to Order" name="addItemToOrder">
    </form>
</section>

<br>

<!-- SQL SELECT query for the Orders Entity to be displayed in a table with some 
    customer information.  SQL Edit/Delete CRUD functionality included in the table.-->
<h1>Current Orders and Items Ordered:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Order ID</th>
                <th>Customer Name (ID)</th>
                <th>Date of Order</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>galacticPay?</th>
                <th>Order Beamed?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <!-- Keeping the item ID hidden, will be used for delete -->
                <td id="itemID" style="display:none">{{ this.itemID }}</td>
                <td id="orderID">{{ this.orderID }}</td>
                <td>{{ this.customerFirstName }} {{this.customerLastName}} ({{ this.customerID }})</td>
                <td>{{moment this.orderDate format="YYYY-MM-DD" }}</td>
                <td>{{#if this.itemType}}
                    {{ this.itemType }}
                    {{else}} NULL
                    {{/if}}
                </td>
                <td>{{#if this.quantity }}
                    {{ this.quantity }}
                    {{else}} NULL
                    {{/if}}
                </td>
                <td>{{#if this.galaticPay}}
                    Yes
                    {{else}}No
                    {{/if}}
                </td>
                <td>{{#if this.orderBeamed}}
                    Yes
                    {{else}}No
                    {{/if}}
                </td>
                <td>{{#if this.itemID}}
                    <a href = '/orders/delete/{{this.orderID}}/{{this.itemID}}/'
                    <button class="btn btn-info" name="deleteOrderItem">Delete Item</button></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<br>
<h2>Note:</h2>
<section>
    It is possible for Item/Quantity to be NULL. While every order must have an item, when an item is deleted,
    the database will delete every entry from the OrderItem M:M relationship table. If an order only contains
    one item and that item is deleted, then the Order will still appear in the table above, but the Item and
    Quantity fields will be NULL. The delete option will not be available to entries where there is no Item ID
    since the delete functionality is to delete an item from an order without deleting the Order itself.
</section>