<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 6 Draft -->
<!-- Date: May 31, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Purchases</title>

<!-- SQL INSERT query for the Purchases Entity-->
<h1>Add a new purchase:</h1>
<section>
    <form method="post">
        <div class="form-group">
            <label for="customerID">Select customer:
                <select class="custom-select" name="customerID">
                    {{#each customers}}
                    <option value = "{{this.customerID}}">{{ this.customerID }}, {{ this.customerFirstName }} {{ this.customerLastName }}</option>
                    {{/each}}
                </select>
            </label>
            <label>Enter Date of Purchase:
                <input class="form-control" type="date" name="purchaseDate" size="40" required />
            </label>
            <input type="submit" class="btn btn-primary" value="Add Purchase" name="addPurchase" />
        </div>
    </form>
</section>

<br>

<!-- SQL SELECT query for the Purchases Entity to be dispalyed in a table
    with some customer information -->
<h1>Current Purchases:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Purchase ID</th>
                <th>Purchase Date</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each purchases}}
            <tr>
                <td>{{ this.purchaseID }}</td>
                <td>{{moment this.purchaseDate format="YYYY-MM-DD"}}</td>
                <td>{{ this.customerID }}</td>
                <td>{{ this.customerFirstName }} {{ this.customerLastName }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<br>

<h2>Note:</h2>
<section>
    Since the program requirements only require one M:M relationship to be implemented. The M:M relationship between
    the Purchases entity and the Items entity is not implemented.  If it had been implemented, the employee would be 
    able to add what items they bought from the customer.  As such, the employee can only document that a purchase 
    was made with the customer and the date.
</section>